apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: obs-dev
data:
  nginx.conf: |
    user nginx;
    worker_processes 1;
    error_log /var/log/nginx/error.log warn;
    pid /var/run/nginx.pid;
    events { worker_connections 512; }
    http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;
      
      log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" rt=$request_time';
      
      access_log /var/log/nginx/access.log main;
      sendfile on;
      keepalive_timeout 65;
      
      server {
        listen 80;
        location / {
          root /usr/share/nginx/html;
          index index.html;
        }
        location /stub_status {
          stub_status;
        }
      }
    }
